<a href="https://colab.research.google.com/github/shivangisahay14/MachineLearning-Internshala/blob/main/Video_2_Edit(Internshala).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [ ]:
Transformed_Housing_Data  = pd.read_csv('Transformed_Housing_Data')

In [ ]:
Transformed_Housing_Data.head()

           ID  Sale Price  ...  Ever Renovated  Years Since Renovation
0  7129300520    221900.0  ...              No                       0
1  6414100192    538000.0  ...             Yes                      26
2  5631500400    180000.0  ...              No                       0
3  2487200875    604000.0  ...              No                       0
4  1954400510    510000.0  ...              No                       0

[5 rows x 21 columns]

In [ ]:
from statsmodels.formula.api import ols
import statsmodels.api as sm

In [ ]:
Transformed_Housing_Data  = Transformed_Housing_Data.rename(columns = {'Sale Price' : 'Sale_Price'})

In [ ]:
Transformed_Housing_Data  = Transformed_Housing_Data.rename(columns = {'Condition of the House' : 'Condition_of_the_House'})

In [ ]:
Transformed_Housing_Data  = Transformed_Housing_Data.rename(columns = {'Ever Renovated' : 'Ever_Renovated'})

In [ ]:
Transformed_Housing_Data  = Transformed_Housing_Data.rename(columns = {'Waterfront View' : 'Waterfront_View'})

In [ ]:
Transformed_Housing_Data.head()

           ID  Sale_Price  ...  Ever_Renovated  Years Since Renovation
0  7129300520    221900.0  ...              No                       0
1  6414100192    538000.0  ...             Yes                      26
2  5631500400    180000.0  ...              No                       0
3  2487200875    604000.0  ...              No                       0
4  1954400510    510000.0  ...              No                       0

[5 rows x 21 columns]

In [ ]:
Transformed_Housing_Data['Waterfront_View'].unique()

array(['No', 'Yes'], dtype=object)

In [ ]:
mod = ols('Sale_Price ~ Condition_of_the_House', data  = Transformed_Housing_Data).fit()

In [ ]:
Anova_Table = sm.stats.anova_lm( mod, typ = 2)

In [ ]:
print(Anova_Table)

                              sum_sq       df         F        PR(>F)
Condition_of_the_House  1.441831e+13      4.0  58.25563  5.447605e-49
Residual                1.336752e+15  21604.0       NaN           NaN

In [ ]:
mod = ols('Sale_Price ~ Waterfront_View', data  = Transformed_Housing_Data).fit()
sm.stats.anova_lm( mod, typ = 2)

                       sum_sq       df           F         PR(>F)
Waterfront_View  3.283737e+13      1.0  538.192683  1.275558e-117
Residual         1.318333e+15  21607.0         NaN            NaN

In [ ]:
mod = ols('Sale_Price ~ Ever_Renovated', data  = Transformed_Housing_Data).fit()
sm.stats.anova_lm( mod, typ = 2)

                      sum_sq       df           F        PR(>F)
Ever_Renovated  1.998463e+13      1.0  324.378469  5.419055e-72
Residual        1.331185e+15  21607.0         NaN           NaN

In [ ]:
mod = ols('Sale_Price ~ Zipcode', data  = Transformed_Housing_Data).fit()
sm.stats.anova_lm( mod, typ = 2)

                sum_sq       df          F        PR(>F)
Zipcode   2.503765e+12      1.0  40.112844  2.444308e-10
Residual  1.348666e+15  21607.0        NaN           NaN